<!DOCTYPE html>
<html>

<link rel="stylesheet" href="app.css">

<head>
    <title>
        Penguins
    </title>
</head>
<body>
    
<!-- Wrapper -->
    <div id="wrapper">

<!-- Title -->
<section class="title">
    <h1><b>Adopt a Polar Bear</b></h1>
    <p>keep him alive!!!!</p>
</section>

<section class="iceberg"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg2"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg3"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg4"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg5"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg6"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg7"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg8"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg9"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg10"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg11"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg12"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg13"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg14"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg15"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg16"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg17"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg18"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg19"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg20"><img src="assets/Iceberg.png"></img></section>
<section class="iceberg21"><img src="assets/Iceberg.png"></img></section>
<section class="polar"><img src="assets/PolarBear1.png"></img></section>

<!-- FOOTER ===========================================================-->
<footer>
        <div>
        </div> 
</footer>

<script src="app.js"></script>
</body>
</html>
