@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
    background-image: url("assets/Background.png");
    min-height: 100vh;
    background-size: 1500px;
    background-position-y: -105px;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 100;
}

.title p {
    color: #000000;
    padding: 0px;
    border-radius: 20px;
    margin: 0 20px;
    font-weight: 100;
}

.title h1 {
    color: #000000;
    padding: 10px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 200;
}

.adopt h1 {
    color: #000000;
    padding: 10px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 200;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

.adopt p {
    color: #000000;
    padding: 5px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: #97af9c;
    padding: 6px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #97af9c;
    color: #2c263a;
}

.iceberg {
    position: absolute;
    display: flex;
    justify-content: left;
    height: 100vh;
    width: 100vh;
    padding: 0;
}

.iceberg #berg1 {
    position: absolute;
    top: -10%;
    left: -5%;
    width: 50vh;
}

.iceberg #berg2 {
    position: absolute;
    top: 5%;
    left: 47%;
    width: 50vh;
}

.iceberg #berg3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vh;
}

.iceberg #berg4 {
    position: absolute;
    top: 20%;
    left: 90%;
    width: 50vh;
}

.iceberg #berg5 {
    position: absolute;
    top: 30%;
    left: -2%;
    width: 50vh;
}

.iceberg #berg6 {
    position: absolute;
    top: -18%;
    left: 55%;
    width: 50vh;
}

.iceberg #berg7 {
    position: absolute;
    top: 3%;
    left: 92%;
    width: 40vh;
}

.iceberg #berg8 {
    position: absolute;
    top: 50%;
    left: 40%;
    width: 25vh;
}

.iceberg #berg9 {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 30vh;
}

.iceberg #berg10 {
    position: absolute;
    top: 40%;
    left: 75%;
    width: 30vh;
}

.iceberg #berg11 {
    position: absolute;
    top: 12%;
    left: 12%;
    width: 45vh;
}

.iceberg #berg12 {
    position: absolute;
    top: 63%;
    left: 20%;
    width: 45vh;
}

.iceberg #berg13 {
    position: absolute;
    top: 45%;
    left: 100%;
    width: 40vh;
}

.iceberg #berg14 {
    position: absolute;
    top: 0%;
    left: 150%;
    width: 25vh;
}

.iceberg #berg15 {
    position: absolute;
    top: 69%;
    left: 80%;
    width: 30vh;
}

.iceberg #berg16 {
    position: absolute;
    top: 8%;
    left: 130%;
    width: 50vh;
}

.iceberg #berg17 {
    position: absolute;
    top: 40%;
    left: 130%;
    width: 30vh;
}

.iceberg #berg18 {
    position: absolute;
    top: 90%;
    left: 10%;
    width: 50vh;
}

.iceberg #berg19 {
    position: absolute;
    top: 50%;
    left: 140%;
    width: 50vh;
}

.iceberg #berg20 {
    position: absolute;
    top: 60%;
    left: 100%;
    width: 50vh;
}

.iceberg #berg21 {
    position: absolute;
    top: 55%;
    left: -15%;
    width: 40vh;
}

.polar {
    position: absolute;
    display: flex;
    justify-content: left;
    height: 100vh;
    width: 100vh;
    padding: 0;
}

.polar img {
    position: absolute;
    top: 34%;
    left: 79%;
    width: 20vh;
}

.polar #polar1 {
    position: absolute;
    top: 3%;
    left: 10%;
    width: 50vh;
}

.polar #polar2 {
    position: absolute;
    top: 3%;
    left: 63%;
    width: 50vh;
}

.polar #polar3 {
    position: absolute;
    top: 3%;
    left: 110%;
    width: 50vh;
}