<!DOCTYPE html>
<html>

<link rel="stylesheet" href="app.css">

<head>
    <title>
        Penguins
    </title>
</head>
<body>
    
<!-- Wrapper -->
    <div id="wrapper">

<!-- Title -->
    <section class="parallax">
        <h2 id="text">Adopt a Polar Bear<h2>
        <p id="text2">keep him alive!!!!</p>
        <img src="assets/Background.png" id="back1">
        <img src="assets/Iceberg.png" id="back2">
        <img src="assets/PolarBear1.png" id="back3">
    </section>

<!-- FOOTER ===========================================================-->
<footer>
        <div>
            <a id="footer-content" target="_blank">
                Penguins
            </a>
        </div> 
</footer>

<script src="app.js"></script>
</body>
</html>
