<!DOCTYPE html>
<html>

<link rel="stylesheet" href="app.css">

<head>
    <title>
        Penguins
    </title>
</head>
<body>
    
<!-- Wrapper -->
    <div id="wrapper">

<!-- Title -->
<section class="title">
    <h1><b>Adopt a Polar Bear</b></h1>
    <p>keep it alive!!!</p>
</section>

<section class="iceberg">
    <img id="berg1" src="assets/Iceberg.png"></img>
    <img id="berg2" src="assets/Iceberg.png"></img>
    <img id="berg3" src="assets/Iceberg.png"></img>
    <img id="berg4" src="assets/Iceberg.png"></img>
    <img id="berg5" src="assets/Iceberg.png"></img>
    <img id="berg6" src="assets/Iceberg.png"></img>
    <img id="berg7" src="assets/Iceberg.png"></img>
    <img id="berg8" src="assets/Iceberg.png"></img>
    <img id="berg9" src="assets/Iceberg.png"></img>
    <img id="berg10" src="assets/Iceberg.png"></img>
    <img id="berg11" src="assets/Iceberg.png"></img>
    <img id="berg12" src="assets/Iceberg.png"></img>
    <img id="berg13" src="assets/Iceberg.png"></img>
    <img id="berg14" src="assets/Iceberg.png"></img>
    <img id="berg15" src="assets/Iceberg.png"></img>
    <img id="berg16" src="assets/Iceberg.png"></img>
    <img id="berg17" src="assets/Iceberg.png"></img>
    <img id="berg18" src="assets/Iceberg.png"></img>
    <img id="berg19" src="assets/Iceberg.png"></img>
    <img id="berg20" src="assets/Iceberg.png"></img>
    <img id="berg21" src="assets/Iceberg.png"></img>
</section>
<section class="polar"><img src="assets/PolarBear3.png"></img></section>

<!-- FOOTER ===========================================================-->
<footer>
        <div>
        </div> 
</footer>

<script src="app.js"></script>
</body>
</html>
